
<%= render :partial => @post %>
<p>
  <%= link_to 'Editar', edit_post_path(@post) %>
  <%= link_to 'Destroy', @post, :confirm => 'Você tem certeza?', :method => :delete %>
  <%= link_to 'Ver todos', posts_path %>
</p>

<h2> Comentários: </h2>

<div id="comments">
  <%= render :partial => @post.comments %>  
</div >

<% form_for [@post, Comment.new] do |f| %>
  <p>
    <%= f.label :body, "Novo comentário"%> <br/>
    <%= f.text_area :body, :class => "input-xxlarge" %>
  </p>
  <p> <%= f.submit "Adicionar Comentário", :class => "btn" %> </p>
<% end %>
